<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <nav class="navbar" style="margin-bottom:10px;">
        <div class="col-md-12">
            <div class="navbar-header">

                <a href="#" class="navbar-brand">File Uploader</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1" style="display:none;">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse1">
                <form class="navbar-form pull-left">
                    <div class="form-horizontal">
                        <label for="sel1" style="width:200px;text-align:center;">Select Batch:</label>
                        <select class="input-group form-control" id="sel1" style="width:200px;">
                            <option>--Select Batch--</option>
                            <option>Batch 1</option>
                            <option>Batch 2</option>
                            <option>Batch 3</option>
                            <option>Batch 4</option>
                        </select>

                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/KO")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("scripts", required: false)
    </body>
    </html>
